body {
    margin: 0px
}
.main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;

}

.left-col {
    background-image: url("./media/japan.jpg");
    background-size: cover;
    background-position: center center;
    width: max(40%, 350px);
    display: flex;
    flex-direction: column;

    position: relative;
}

.odin-logo {
    height: 150px;
    object-fit: scale-down;
}

.logo-wrapper {
    background-color: hsl(227, 0%, 0%, 0.6); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    margin-top: calc(30% - 20px);
}

.credit {
    margin-top: auto;
    align-self: center;
    text-align: center;
    color: white;
}

.right-col div {
    padding: 20px 40px;
}

.right-col {
    display: flex;
    flex-direction: column;
    background-color: hsl(221, 0%, 92%);
}

.desc-wrapper {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.desc-wrapper p {
    margin: 8px 0;
}

.form-container {
    padding: 0px!important;
}

.form-wrapper {
    background-color:white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

div.form-group {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 8px;
}

div.form-row {
    display: flex;
    padding: 0px;
    gap: 12px;
    margin-bottom: 8px;
}