@font-face {
    font-family: norse-bold;
    src: url(./media/Norse-Bold.otf);
}



*:focus {
    outline: none;
}

:root {
    --font-l: 1.4rem;
    --font-s: 0.8rem;
}

body {
    margin: 0px;
    font-family: Helvetica;
}

a {
    color: #596D48;
    text-decoration: none;
    font-weight: 800;
}
.main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;

}

.left-col {
    background-image: url("./media/japan.jpg");
    background-size: cover;
    background-position: center center;
    width: max(25%, 350px);
    display: flex;
    flex-direction: column;

    position: relative;
}

.odin-logo {
    height: 100px;
    object-fit: scale-down;
}

.logo-wrapper {
    background-color: hsl(227, 0%, 0%, 0.6); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 12px;

    color: white;
    font-size: 75px;
    font-family: norse-bold;

    margin-top: calc(30% + 40px);
}

.logo-wrapper p {
    margin: 0px;
}

.credit {
    margin-top: auto;
    align-self: center;
    text-align: center;
    color: white;
    font-size: var(--font-s);
}

.credit a {
    color: white;
    text-decoration: underline;
    font-weight: inherit;
}

.right-col div {
    padding: 20px 40px;
}

.right-col {
    display: flex;
    flex-direction: column;
    background-color: hsl(221, 0%, 92%);
    width: 75%;
}

.desc-wrapper {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: end;

    font-size: var(--font-l);
    font-weight: 600;

    margin-bottom: 40px;
}

.desc-wrapper p {
    margin: 8px 0;
    width: 50ch;
}

.form-container {
    padding: 0px!important;
}

.form-wrapper {
    background-color:white;
    display: flex;
    flex-direction: column;
    gap: 20px;

    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

div.form-group {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 4px;
}

div.form-row {
    display: flex;
    padding: 0px;
    gap: 48px;
    margin-bottom: 8px;
}

legend {
    font-size: var(--font-l);
}

label {
    text-transform: uppercase;
    font-size: var(--font-s);
}

.btn {
    padding: 1em 2.5em;
    font-size: calc(var(--font-l)*0.65);
    font-weight: 800;
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: 12px 0px;

    border-radius: 6px;
    border: none;
    background-color: #596D48;
    color: white;
}

input:not([type="submit"]) {
    height: 25px;
    padding: 1px 6px;
    border-radius: 4px;
    border: 1px solid hsl(221, 0%, 92%);
}

input:focus:not([type="submit"]) {
    border: 1px solid #6E89D6;
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

input:focus-visible {
    border: 1px solid #6E89D6;
}

input[type="submit"]:focus {
    background-color: #435236;
}

input[type="password"]:invalid {
    border-color: #B91C1C;
}